/* TABLE OF CONTENTS

1 GLOBAL

2 NAVIGATION

3 HERO

4 FEATURED

5 CONTACT

6 SOCIAL

7 RESPONSIVENESS

*/



/* 1 GLOBAL */

:root
{
  --ff-primary: 'Source sans pro', sans-serif;
  --ff-secondary: 'Source code pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: #888;
  --clr-dark: #333;
  --clr-accent: #16e0bd;
  
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.3rem;
  --fs-p: 1.2rem;
  --fs-body: 1rem;
}

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: var(--ff-primary);
  color: var(--clr-dark);
  line-height: 1.6;
  font-size: var(--fs-body);
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4) }
p { font-size: var(--fs-p) }

a 
{
  color: var(--clr-dark);
  text-decoration: none;
}

ul
{
  list-style: none;
}

image
{
  width: 100%;
}

.container
{
  max-width: 1100px;
  margin: auto;
}

html
{
  scroll-behavior: smooth;
}


/* 2 NAVIGATION */

header
{
  height: 50px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 100%;
  z-index: 999;
}

.nav-toggle
{
  display: none;
}

.nav-toggle-label
{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
  display: block;
  background: #000;
  height: 2px;
  width: 2rem;
  border-radius: 2px;
  position: relative; 
}

.nav-toggle-label span::before,
.nav-toggle-label span::after
{
  content: '';
  position: absolute;
}

.nav-toggle-label span::before
{
  bottom: 7px;
}

.nav-toggle-label span::after
{
  top: 7px;
}

nav
{
  position: absolute;
  top: 100%;
  text-align: left;
  margin-right: 1rem;
  left: 0;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}

.logo
{
  font-size: 2rem;
}

li
{
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a
{
  text-transform: uppercase;
  transition: all 400ms ease 50ms;
  opacity: 0;
  font-weight: 600;
}

nav a:hover
{
  color: var(--clr-light)
}

.nav-toggle:checked ~ nav
{
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a
{
  opacity: 1;
}

@media screen and (min-width: 730px)
{
  .nav-toggle-label
  {
    display: none;
  }
  
  header
  {
    margin: auto;
    padding: 0 2rem;
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .logo
  {
    grid-column: 0 / 1;
    display: flex;
    justify-content: flex-start;
    font-weight: var(--fw-bold);
  }
  
  nav
  {
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  ul
  {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  
  li
  {
    margin-bottom: 0;
    margin-left: 3rem;
  }
  
  li a
  {
    opacity: 1.0;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
  }
  
  li a:hover
  {
    text-decoration: underline;
  }
  
}

/* 3 HERO */
.hero
{
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero .container
{
  margin: auto;
  max-width: 1100px;
  width: 100%;
  padding: 50px 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero .container .description-box
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.hero .container .description-box p
{
  padding-bottom: 1rem;
}

.hero .container .description-box .btn-box
{
  text-align: center;
  padding: 0.6rem 1rem;
  margin-bottom: 10px;
}

.btn-box .btn
{
  background: var(--clr-dark);
  color: #fff;
  padding: 0.6rem 1rem;
  border: 3px solid var(--clr-dark);
  border-radius: 30px;
  font-size: 1.1rem;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  transition: all 200ms linear;
}

.btn-box .btn:hover
{
  background-color: #fff;
  color: var(--clr-dark);
  border: 3px solid var(--clr-dark);
  box-shadow: 2 2 10 rgba(0,0,0,0.1);
}

.hero .container .image
{
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.hero .container .image img
{
  width: 100%;
  max-width: 550px;
  min-width: 340px;
}


/* 4 FEATURED */
.featured
{
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.featured .content
{
  width: 100%;
  max-width: 1100px;
  padding: 50px 1rem 0 1rem;
  margin: auto;
}

.featured .container
{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}  

.featured .content .container .product
{
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  position: relative;
  margin: 0 20px 50px 20px;
  max-width: 300px;
}

.featured .content .container .image
{
  height: 280px;
}

.featured .content .container .image img
{
  width: 250px;
  height: 250px;
}

.featured .content .container .custom-select
{
  margin-top: 20px;
}

.featured .content .container select
{
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  background: var(--clr-dark);
  color: #fff;
  border: 0;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.featured .content .btn-box
{
  display: flex;
  margin: auto;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.1rem;
}
.featured .content .btn-box .btn
{
  font-size: 1.1rem;
  padding: 0.4rem 1rem; 
}


/* 5 CONTACT */
.contact
{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contact .content
{
  width: 100%;
  max-width: 1100px;
  text-align: center;
  padding: 50px 1rem 0 1rem;
}

.contact .content .container
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;  
}

.contact .content .container .contact-info
{
  height: 450px;
  min-width: 340px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  flex-direction: column;
  margin: 0 auto;
  width: 340px;
 }

.contact-info .box
{
  position: relative;
  display: flex;
  padding-bottom: 50px;
  margin: auto;
  align-items: center;
  width: 340px;
}

.contact-info .box .icon
{
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-right: 1rem;
  margin-left: 0;
  transition: font-size 400ms;
}

.contact-info .box .icon:hover
{
  font-size: 3.5rem;
}

.contact-info .box .text
{
  display: flex;
  flex-direction: column;
  text-align: start;
}

.contact .container .contact-form
{
  min-width: 340px;
  display: flex;
  height: 450px;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.contact-form .input-box
{
  position: relative;
  max-width: 300px;
  margin: auto;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
}

.contact-form .input-box input,
.contact-form .input-box textarea
{
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid;
  resize: none;
  outline: none;
  font-family: var(--ff-primary)
}

.contact-form .input-box span
{
  position: absolute;
  left: 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span
{
  font-size: 0.9rem;
  transform: translateY(-1.2rem);
}

.contact-form .input-box [type="submit"]
{
  background: var(--clr-dark);
  color: #fff;
  padding: 0.6rem 1rem;
  border: 3px solid var(--clr-dark);;
  border-radius: 30px;
  font-size: 1.1rem;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  transition: all 300ms linear;
  width: auto;
  cursor: pointer;
}

.contact-form .input-box [type="submit"]:hover
{
  background-color: #fff;
  color: var(--clr-dark);
  border: 3px solid var(--clr-dark);
  box-shadow: 2 2 10 rgba(0,0,0,0.1);
}

.social
{
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 20px;
}

.social .box
{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  background: var(--clr-dark);
  border-radius: 50px;
  box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
  transition: all 400ms ease-out;
  overflow: hidden;
}

.social .box:hover
{
  width: 200px;
}

.social .box .icon
{
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 70px;
  text-align: center;
}

.social .box i
{
  color: #fff;
  font-size: 25px;
  line-height: 60px;
}

.social .box span
{
  font-size: 21px;
  font-weight: 400;
  line-height: 60px;
  margin-left: 10px;
  color: #fff;
}


.footer
{
  font-size: 0.8rem;
  margin-top: -20px;  
}

.footer .reference
{
  display: inline-block;
  float: left;
}

.footer .copyright
{
  display: inline-block;
  float: right;
}

/* 7 RESPONSIVENESS */

@media screen and (max-width: 919px)
{
  .featured {
    height: auto;
  }
}
  
@media screen and (max-width: 730px)
{
  .hero .container .image img
  {
    width: 100%;
    max-width: 340px;
  }
  
  .hero .container .description-box p
  {
    font-size: 1.1rem;
  }
  
  .hero .container .description-box h1
  {
    font-size: 2.1rem;
  }
  
  .hero .container .description-box .btn
  {
    font-size: 1em;
  }

  .featured .container .image
  {
    height: 220px;
    margin-bottom: 15px;
  }
  
  .featured .container .image img
  {
    width: 220px;
    height: 220px;
  }
  
  .featured .container p
  {
    font-size: 1.1rem;
  }
  
  .featured .container h3
  {
    font-size: 1.6rem
  }
  
  .featured .content .container select
  {
    box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    background: var(--clr-dark);
    color: #fff;
    border: 0;
    border-radius: 5px;
    text-align: center;
    outline: none;
  }
  
  .featured .content .btn-box .btn
  {
    font-size: 1rem;
    padding: 0.4rem 1rem;
  }
  
  
  /* CONTACT */
  .contact .content .contact-header h2
  {
    font-size: 1.9rem;
  }
 
  .contact .content .container .contact-info
  {
    height: auto;
  }
  
  .contact .content .container .contact-info .box
  {
    padding-top: 0px;
  }
  
  .contact-info .box .icon
  {
    font-size: 2rem;
    transition: font-size 400ms;
  }
  
  .contact-info .box .icon:hover
  {
    font-size: 2.5rem;
  }
  
  .contact .content .container .contact-info .box .text h4
  {
    font-size: 1.3rem;
  }
  
  .contact .content .container .contact-info .box .text p
  {
    font-size: 1.1rem;
  }
  
  .contact .container .contact-form
  {
    height: auto;
    margin-top: 30px;
  }
  
  .contact .container .contact-form h3
  {
    font-size: 1.6rem;
  }
  
  .contact-form .input-box
  {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea
  {
    font-size: 1rem;
  }
  
  .contact-form .input-box span
  {
    font-size: 0.9rem;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box input:valid ~ span,
  .contact-form .input-box textarea:focus ~ span,
  .contact-form .input-box textarea:valid ~ span
  {
    font-size: 0.8rem;
    transform: translateY(-1rem);
  }
  
  .contact-form .input-box [type="submit"]
  {
    width: 80px;
    padding: 0.4rem;
    font-size: 1rem;
    margin-bottom: 30px;
}


  .social .box
  {
    display: inline-block;
    height: 45px;
    width: 45px;
    float: left;
    margin: 0 5px;
    background: var(--clr-dark);
    border-radius: 50px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
    transition: all 400ms ease-out;
    overflow: hidden;
  }

  .social .box:hover
  {
    width: 160px;
  }

  .social .box .icon
  {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 45px;
    text-align: center;
  }

  .social .box i
  {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
  }

  .social .box span
  {
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    margin-left: 5px;
    color: #fff;
  }
}
  
@media screen and (max-width: 560px) 
{
  .hero .container .description-box p
  {
    font-size: 1rem;
  }
  
  .hero .container .description-box h1
  {
    font-size: 1.8rem;
  }
    
   .hero .container .description-box .btn
  {
    font-size: 0.9em;
  }
}